*{
  margin:0px;
  padding:0px;

}
.main_div{
  background-color:pink;
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  text-align:center;

}
.container{
  background:white;
  justify-content:center;
  align-items:center;
  width:400px;
  text-align:center;
  height:70vh;
  border-radius:25px;
  box-shadow:5px 5px 25px -5px rgba(0, 0, 0, 0.5);

}
.heading{
  background:#044C65;
  font-family: 'Lobster', cursive;
  color:#FCB678;
  text-shadow:2px 2px grey;
  border-radius:5px;
  margin-top:10px;
}
input{
  font-size:1.5em;
   border:none;
   text-align:center;
   font-weight:500;
   border-bottom:2px solid pink;
   outline:none;
}
button{
  min-height:40px;
  width:40px;
  border-radius:50%;
  border-color:transparent;
  background:black;
  color:white;
  font-size:40px;
  border:none;
  outline:none;
  margin-left:10px;
  box-shadow:5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
button:hover{
  background:green;
}
ul li{
  margin-top:10px;
}
li{
  color:lightpink;
  text-align:left;
  margin-left:05px;
  /* margin-top:30px; */
  font-size:2em;
  padding:0px;
  padding-left:0px;
  font-weight:500;
  min-height:40px;
  display:flex;
  text-transform:capitalize;
  margin-top:10px;
}